.mydata {
  width: 100%;
  height: 100vh;
  padding-inline: 20px;
  background-color: #e4f8fe;
  display: flex;
  flex-direction: column;
  .title {
    font-size: 25px;
    font-weight: 500;
    color: #01a8cc;
  }
  .dataContainer {
    background-color: antiquewhite;
    width: 100%;
    height: 200px;
  }
}
