.toAA {
  margin-top: 5px;
  margin-bottom: 10px;
  background: white;
  color: #01a8cc;
  border: 2px solid #01a8cc;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

.toAA:hover {
  cursor: pointer;
  border: 2px solid #7fcadb;
}
