.inputParamConatiner {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  transition: all 1s;
  min-height: 10px;
  height: auto;
  // transition-duration: 900ms;
  // transition: height 900ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  // -moz-transition: height 1s ease;
  // -webkit-transition: height 1s ease;
  // -o-transition: height 1s ease;
  // transition: height 1s ease;

  .paramTitle {
    background: #e4f8fe;
    border-radius: 6px;
    padding-block: 3px;
    padding-inline: 10px;
    align-items: center;
    text-align: justify;
    font-size: 15px;
    div {
      font-weight: 550;
    }
    .icon {
      font-size: 20px;
    }
    .icon:hover {
      cursor: pointer;
    }
  }
}
