.valuecom {
  margin-top: 10px;
  height: 310px;
  font-size: 10px;
}

.MuiDataGrid-columnHeaders {
  background-color: #e4f8fe;

  .MuiDataGrid-columnHeaderTitle {
    font-weight: 600;
  }
}
