.inputParamConatiner {
  background-color: white;
  padding: 10px;
  border-radius: 8px;

  .paramTitle {
    background: #e4f8fe;
    border-radius: 6px;
    padding: 10px;
  }

  div {
    .multiselect-container {
      .searchWrapper {
        border: 1px solid #ccc;
        border-radius: 4px;
        min-height: 22px;
        padding-inline: 10px;
        border-radius: 6px;
        position: relative;
      }
      .highlightOption {
        background-color: white;
        color: black;
      }
      .option:hover {
        background-color: white;
        color: black;
      }
      .chips {
        background-color: #01a8cc;
        color: #01a8cc;
        font-size: 5px;
      }
    }
  }
}
